domain-needed
bogus-priv
interface=eth0
no-dhcp-interface=eth0
#bind-interfaces
local=/{{ domain }}/
domain={{ domain }}
#address=/.neuronpointer.net/neuronpointer.net/192.168.11.54
# dns.google
#server=8.8.8.8
#server=8.8.4.4
# dns.adguard.com
server=94.140.15.15
server=94.140.14.14
