domain-needed
bogus-priv
interface=eth0
no-dhcp-interface=eth0
domain={{ domain }}
server=/{{ domain }}/
{% for server in groups['dns-third-party'] %}
server={{ hostvars[server].ip_address }}
{% endfor %}
{% for target in groups['external-dns-targets'] %}
{% for server in groups['dns-third-party'] %}
server=/{{ target }}.{{ domain }}/{{ hostvars[server].ip_address }}
{% endfor %}
{% endfor %}

