domain-needed
bogus-priv
interface=lo
no-dhcp-interface=lo
bind-interfaces
local=/{{ domain }}/
domain={{ domain }}
#address=/.neuronpointer.net/neuronpointer.net/192.168.11.54
server=8.8.8.8
server=8.8.4.4
